body{
    min-height: 100vh;
    background-size: 100% auto;
    background-repeat: no-repeat , repeat-y;
    background-position: top ;
    background-attachment: scroll;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
body.page_7{
    background-image: url(../img/ส่วนหัว/1_0.jpg) , url(../img/พื้นหลัง2.png);
}
body.page_8{
    background-image: url(../img/ที่พักราช/712dc8e3fd2198e8d87cd9ace3fe0fcd354acfe4-2.jpg) , url(../img/พื้นหลัง2.png);
}
body.page_9{
    background-image: url(../img/ส่วนหัว/3_0.jpg) , url(../img/พื้นหลัง2.png);
}
body.page_10{
    background-image: url(../img/ส่วนหัว/4_0.jpg) , url(../img/พื้นหลัง2.png);
}
body.page_11{
    background-image: url(../img/ส่วนหัว/5_0.jpg) , url(../img/พื้นหลัง2.png);
}

section{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}
.logo a{
    color: #5ec8b2;
    text-shadow: 1px 1px 2px #ccc;
}
.logo img{
    border: none;
    box-shadow: none;
}
.h1 , .h1_2 , .h1_3{
    font-size: 45px;
    text-align: center;
    margin-top: 4%;
    margin-bottom: 3%;
    color: #6da2d4;
    text-shadow: 1px 1px 2px #ccc;
    font-weight: bold;
}
.h1_2{
    margin-top: 6%;
    color: white;
    text-shadow: 1px 1px 10px gray;
}
.h1_3{
    margin-top: 8%;
}
h3{
    color: white;
    background-color: #5ec8b2;
    padding: 0.5% 3%;
    text-align: center;
    border-radius: 15px;
    text-shadow: 1px 1px 2px #939393;
    box-shadow: 1px 1px 5px #ccc;
    margin: 0 2.5%;
    margin-bottom: 1%;
}
.pp{
    clear: both;
    color: white;
    font-size: xx-small;
    margin-bottom: -2%;
}
.p1{
    text-indent: 30px;
    clear: both;
    margin: 1% 2%;
}
.p2{
    margin: 1% 2%;
}
.p3{
    margin: 2% 2%;
}
.a1{
    color: #007FFF;
}

.box1{
    width: 100%;
    height: auto;
    padding: 3% 3%;
    margin: 4% 0;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #E4E4E4;
    box-shadow: 1px 1px 5px #ccc;
}
.box2{
    width: 97%;
    margin: 2% 0;
    margin-left: 1.5%;
    margin-right: 1.5%;
    margin-top: 3%;
    margin-bottom: 1%;
    padding: 2% 2% 2% 4%;
    background-color: #c7dff6;
    clear: both;
    border-radius: 10px;
    border: 2px solid #E4E4E4;
    box-shadow: 1px 1px 5px #ccc;
}
.box2 ul{
    list-style-type: none;
}
.box3 , .box4{
    width: 100%;
    height: auto;
    padding: 3% 3%;
    margin: 4% 0;
    margin-top: 6%;
    border-radius: 10px;
    background-color: white;
    border: 2px solid #E4E4E4;
    box-shadow: 1px 1px 5px #ccc;
}
.box4{
    margin-top: 20%;
}
img{
    border-radius: 5px;
    border: 2px solid #E4E4E4;
    box-shadow: 1px 1px 5px #ccc;
}


.img07_1 , .img07_3{
    width: 25.5%;
    margin: 2% 1.5%;
    float: left;
}
.img07_2{
    width: 40%;
    margin: 2% 1.5%;
    float: left;
}

.img7_1{
    width: 22%;
    margin: 2% 1.5%;
    float: left;
}

.img08_1 , .img08_2{
    width: 31%;
    margin: 2% 1.5%;
    float: right;
}
.img08_2{
    width: 50.5%;
    float: right;
}
.img08_3{
    width: 50%;
    margin: 2% 1.5%;
    margin-top: 0;
    float: left;
}
.img8_1{
    width: 47%;
    margin: 1% 1.5%;
    float: right;
}
.img8_2{
    clear: both;
    width: 47%;
    margin: 2% 1.5%;
    float: left;
}
.img8_3{
    width: 47%;
    margin: 2% 1.5%;
    float: right;
}

.img09_1 , .img09_2{
    width: 27%;
    margin: 2% 1.5%;
    float: right;
}
.img09_3{
    width: 47%;
    margin: 1% 1.5%;
    margin-bottom: 2%;
    float: right;
}
.img9_1 , .img9_2{
    width: 28.5%;
    float: left;
    margin: 2% 1.5%;
    margin-bottom: 3%;
}
.img9_3{
    width: 34%;
    float: right;
    margin: 2% 1.5%;
    margin-bottom: 3%;
}

.img010_1 , .img010_2 , .img010_3{
    width: 47%;
    float: left;
    margin: 2% 1.5%;
    margin-bottom: 3%;
}

.img010_4{
    width: 47%;
    margin: 0 1.5%;
    margin-bottom: 3%;
    margin-top: -26.5%;
    float: left;
}
.img10_1 , .img10_3{
    width: 33%;
    margin: 2% 1.5%;
    float: left;
}
.img10_2{
    width: 25%;
    margin: 6% 1.5%;
    margin-bottom: 3%;
    float: left;
}


.img011_1 , .img011_3{
    width: 30.3%;
    margin: 2% 1.5%;
    margin-top: 8%;
    float: left;
}
.img011_2{
    width: 30.3%;
    margin: 2% 1.5%;
    margin-bottom: 3%;
    float: left;
}

.img11_1{
    width: 41%;
    margin: 2% 1.5%;
    float: right;
    margin-right: 6%;
    margin-bottom: 3%;
}
.img11_2{
    width: 45.5%;
    margin: 2% 1.5%;
    float: right;
}
.img11_3{
    width: 45.5%;
    margin: 2% 1.5%;
    margin-top: 0;
    float: right;
    
}


@media screen and (max-width: 768px){
body{
  width: 100%;
}
section{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}
.h1 , .h1_2 , .h1_3{
    font-size: 25px;
}
.pp{
    clear: both;
    margin-bottom: -3%;
}
.p1{
    text-indent: 20px;
    clear: both;
}
.box2{
    margin: 2% 1.5%;
    margin-top: 3%;
    padding: 3% 2% 3% 7%;
}
.img07_1 , .img07_3{
    width: 27%;
}

.img07_2{
    width: 37%;
}
.img7_1{
    width: 45.5%;
    float: left;
}




}